* {
  padding:          0;
  margin:           0;
}

body {
  background:       #fff;
  color:            #1b1d20;
  font:             15px/26px 'Mate', Times, "Times New Roman", serif;
}

section {
  text-align:       center;
}

h1 {
  letter-spacing:   0.1em;
  opacity:          0;
  position:         relative;
  top:              -20px;
}

h2 {
  
  font-size:        14px;
  font-style:       italic;
  font-weight:      normal;
  color:            #aa9483;
  letter-spacing:   0.1em;
  opacity:          0;
}

ul {
  display:          inline-block;
  opacity:          0;
}

li {
  list-style:       none;
  display:          inline-block;
  width:            120px;
  margin-top:       16px;
  margin-bottom:    16px;
  font-family:      'Lato', sans-serif;
  font-weight:      100;
  font-size:        10px;
  letter-spacing:   0.2em;
  text-transform:   uppercase; 
}

a {
  text-decoration:  none;
  color:            #767779;
}

a:hover {
  text-decoration:  underline;
  color:            #aa9483;
}

.layer {
  margin:           12px;
  border:           1px solid #767779;
  background:       #fff;
  position:         fixed;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
}

#name {
  position:         absolute;
  width:            100%;
  top:              50%;
  margin-top:       -40px;
}

#contact {
  position:         absolute;
  width:            100%;
  bottom:           0;
}

@media only screen and (max-device-width: 480px) {
  #name {
    margin-top:     -100px;
  }

  li {
    width:          100px;
  }
}