body {
  background:     #1b1d20;
  color:          #1b1d20;
  font:           15px/26px 'Mate', Times, "Times New Roman", serif;
}

section {
  text-align:     center;
}

h1 {
  margin-bottom:  0
}

h2 {
  font-size:      14px;
  font-style:     italic;
  font-weight:    normal;
  color:          #aa9483;
  margin-top:     0;
  letter-spacing: 0.1em;
}

.layer {
  background:     #fff;
  position:       fixed;
  top:            0;
  left:           0;
  right:          0;
  bottom:         0;
}

#name {
  position:       absolute;
  width:          100%;
  top:            50%;
  margin-top:     -26px;
}